.wrap
    display: flex
    justify-content: center
    max-width: 570px
    height: 570px
    align-items: center
    background: green url('../img/bg.png') no-repeat center
    font-family: 'Arial'
.window
    position: relative
    width: 317px
    height: 368px
    background: #ffffff
    margin-bottom: 25px

.form
    display: flex
    flex-direction: column
    align-items: center
    &__button
        position: absolute
        bottom: 28px
        width: 260px
        height: 46px
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)
        color: #ffffff
        font-family: "Arial - Bold MT"
        font-size: 16px
        font-weight: 400
        line-height: 43px
        text-transform: uppercase
    &__input
        width: 257px
        height: 30px