html
    font-size: 10px
body
    font-family: Arial
.wrap
    display: flex
    justify-content: center
    max-width: 570px
    height: 570px
    align-items: center
    background: green url('../img/bg.png') no-repeat center
.window
    max-width: 317px
    height: 368px
    background: #ffffff
    margin-bottom: 25px
